<template name="skelesitePagePlaceholder">
    {{#if skeleIsDataReady data}}
        {{#if data.items}}
            {{#each item in data.items}}
                {{! put a separator line if this is not the first item in the set }}
                {{#if @index}}
                    <div class="skelesitePlaceholderSeparator"></div>
                {{/if}}

                {{#if (getCurrentLangData item "published")}}
                    {{#unless data.contentOnly}}
                        {{#if (getCurrentLangData item "title")}}
                            {{{getCurrentLangData item "title"}}}
                            <br />
                        {{/if}}
                    {{/unless}}

                    {{#unless data.titleOnly}}
                        {{{getCurrentLangData item 'content'}}}
                    {{/unless}}
                {{else}}
                    {{{i18n "unpublished_error"}}}
                {{/if}}
            {{/each}}
        {{/if}}
    {{else}}
        {{#if this.preloader}}
            {{> gearContent this}}
        {{/if}}
    {{/if}}
</template>
