<template name="skelePageDefault">
    <div class="centralBody">
        <div class="panel">
            <div class="container">
                {{#if skeleIsDataReady data}}
                    {{#if (getCurrentLangData data.item "published")}}
                        {{#with (getCurrentLangData data.item "title")}}
                            {{{this}}}
                        {{/with}}

                        {{#with (getCurrentLangData data.item "content")}}
                            {{> skeleContentWithPlugins data=this}}
                        {{/with}}
                    {{else}}
                        {{{i18n "unpublished_error"}}}
                    {{/if}}
                {{else}}
                    <!-- form loading modal -->
                    {{> gearContent data.schema}}
                {{/if}}
            </div>
        </div>
    </div>
</template>


<template name="skeleContentWithPlugins">
    {{{data}}}
</template>
